@media (max-width: 480px) {
  body {
    padding: 0 10px; }
    body #container ul.posts .datetime {
      float: none;
      display: block;
      width: auto;
      text-align: left; }
    body #container #ind-instagram, body #container #ind-linkedin {
      display: none; }
    body #container .links, body #container .content {
      padding: 15px; }
      body #container .links section.post, body #container .content section.post {
        margin: 0 -15px; }
        body #container .links section.post > p, body #container .links section.post h1, body #container .links section.post .highlight, body #container .content section.post > p, body #container .content section.post h1, body #container .content section.post .highlight {
          padding: 0 15px; }
        body #container .links section.post > ul, body #container .links section.post > ol, body #container .content section.post > ul, body #container .content section.post > ol {
          padding: 0 30px; }
    body #container .content blockquote {
      padding: 0 15px; } }

@media (min-width: 480px) {
  body #container {
    max-width: 500px;
  }
}

@media only screen and (min-device-width : 768px)  and (max-device-width : 1024px) {
  body #container {
    max-width: 700px;
  }
}

@media only screen  and (min-width : 1024px) and (max-device-width : 1200px) {
  body #container {
    max-width: 1000px;
  }
  .paging .left {
    margin-left: -540px; }
  .paging .right {
    margin-left: 520px; }
}


@media only screen  and (min-width : 1224px) {
  body #container {
    max-width: 1100px;
  }
  .paging .left {
    margin-left: -640px; }
  .paging .right {
    margin-left: 620px; }
}
