<html>
  <head>
    <meta content='{{ site.title }}' property='og:title' />
    <title>{{ site.title }}</title>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <div id='container'>
      {% include links.html %}
      <div class="content">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
  <script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '5241ef84f5a1f55d480000cb');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
  </body>
</html>
